<template>
  <div>
    <v-stage
      ref="stage"
      :config="configKonva"
    >
      <v-layer ref="layer">
        <Piece
          v-for="item in list"
          :key="item.id"
          @mousemove="handleMouseMove"
          @mouseout="handleMouseOut"
          @click="handleClick($event, item)"
          :refId="item.id"
          :x="item.x"
          :y="item.y"
          :scale="item.scale"
          :piece="item.piece"
          :focused="focusedItemId === item.id && !item.piece"
        ></Piece>
      </v-layer>
      <v-layer ref="layerraffle">
        <Piece
          v-if="raffleItem"
          @mousemove="handleMouseMove"
          @mouseout="handleMouseOut"
          :refId="raffleItem.id"
          :x="raffleItem.x"
          :y="raffleItem.y"
          :scale="raffleItem.scale"
          :piece="raffleItem.piece"
          :focused="focusedItemId === raffleItem.id"
        ></Piece>
      </v-layer>
    </v-stage>
  </div>
</template>

<script>
import Piece from './Piece.vue'
import {newRandomPieces} from '../libs/pieces'
import * as board from '../libs/board'

export default {
  components: {
    Piece
  },
  data() {
    return {
      list: [],
      raffleItem: null,
      rafflePieces: newRandomPieces(),
      focusedItemId: null,
      configKonva: {
        width: board.WIDTH,
        height: board.HEIGHT
      }
    };
  },
  methods: {
    handleMouseMove(e) {
      this.focusedItemId = e.refId;
    },
    handleMouseOut() {
      this.focusedItemId = null;
    },
    handleClick($event, item) {
      if (item.piece) {
        return;
      }
      item.piece = this.raffleItem.piece;
      this.raffleItem.piece = this.rafflePieces.pop();
      this.calculate();
    },
    
    calculate() {
      let sum45 = board.calculateAngles45(this.list);
      let sum90 = board.calculateAngles90(this.list);
      let sum135 = board.calculateAngles135(this.list);
      console.log("angles45: ", sum45);
      console.log("angles90: ", sum90);
      console.log("angles135: ", sum135);
      console.log("Total: ", sum45+sum90+sum135);
    }
  },
  computed: {
    height(){
      return board.HEIGHT;
    },
    width(){
      return board.WIDTH;
    }
  },
  mounted() {
    let centerWidth = this.width/2;
    let centerHeight = this.height/2;
    let scale = 1.20;
    for (let n = 0; n < board.BOARD_ELEMENTS; n++) {
      let pos = board.getPosition(centerWidth, centerHeight, scale, n);
      this.list.push({
        id: "pos-" + n.toString(),
        x: pos.x,
        y: pos.y,
        scale: scale,
        piece: null//{value90:n}
      });
    }
    this.raffleItem = {
        id: "item-sorted",
        x: centerWidth/6,
        y: centerHeight/4,
        scale: scale+0.2,
        piece: this.rafflePieces.pop()
      }
  }
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
</style>
