<template>
    <v-group ref="group">
        <v-regular-polygon
            @mousemove="handleMouseMove"
            @mouseout="handleMouseOut"
            @click="handleClick"
            :config="{
                x: x,
                y: y,
                sides: 6,
                rotation: 30,
                id: refId+'-hex',
                numPoints: 5,
                radius: 70,
                fill: piece ? 'indigo' : 'tan',
                stroke: 'black',
                strokeWidth: 1,
                opacity: focused ? 1.0 : 0.8,
                draggable: false,
                scaleX: focused ? scale * 1.2 : scale,
                scaleY: focused ? scale * 1.2 : scale,
            }"
        ></v-regular-polygon>
        <piece-filled
            v-if="piece"
            @mousemove="handleMouseMove"
            @mouseout="handleMouseOut"
            :refId="piece.id"
            :x="x"
            :y="y"
            :piece="piece"
            :scale="scale"
            :focused="focused"
        ></piece-filled>
    </v-group>
</template>

<script>
import PieceFilled from './PieceFilled.vue';
export default {
  components: { PieceFilled },
  props: ['refId', 'x', 'y', 'scale', 'focused', 'piece'],
  methods: {
    handleMouseMove(e) {
      this.$emit("mousemove", {...e, refId: this.refId})
    },
    handleMouseOut(e) {
      this.$emit("mouseout", {...e, refId: this.refId})
    },
    handleClick(e) {
      this.$emit("click", {...e, refId: this.refId})
    }
  },
  mounted() {
  }
};
</script>

<style staged>

</style>
