<template>
    <div>
        <v-line 
            v-if="piece"
            @mousemove="handleMouseMove"
            @mouseout="handleMouseOut"
            :config="{
                x: x,
                y: y,
                points:[0, -55, 0, 55],
                id: refId + '-line-90',
                stroke: piece.color90,
                strokeWidth: 10,
                opacity: 0.8,
                lineCap: 'round',
                scaleX: focused ? scale * 1.2 : scale,
                scaleY: focused ? scale * 1.2 : scale,
            }"
        ></v-line>
        <v-text 
            v-if="piece"
            @mousemove="handleMouseMove"
            @mouseout="handleMouseOut"
            :config="{
                x: x - 10,
                y: y - 50,
                align: 'center',
                id: refId + '-text-90',
                text: piece.value90,
                fontStyle: 'bold',
                fontSize: 25,
                fontFamily: 'Ariel',
                fill: 'black',
                stroke: 'white',
                strokeWidth: 0.5,
                opacity: 0.8,
                draggable: false,
                scaleX: focused ? scale * 1.2 : scale,
                scaleY: focused ? scale * 1.2 : scale,
            }"
        ></v-text>
        <v-line 
            v-if="piece"
            @mousemove="handleMouseMove"
            @mouseout="handleMouseOut"
            :config="{
                x: x,
                y: y,
                points:[-48, 27, 48, -27],
                id: refId + '-line-45',
                stroke: piece.color45,
                strokeWidth: 10,
                opacity: 0.8,
                lineCap: 'round',
                scaleX: focused ? scale * 1.2 : scale,
                scaleY: focused ? scale * 1.2 : scale,
            }"
        ></v-line>
        <v-text 
            v-if="piece"
            @mousemove="handleMouseMove"
            @mouseout="handleMouseOut"
            :config="{
                x: x - 50,
                y: y + 5,
                align: 'center',
                id: refId + '-text-45',
                text: piece.value45,
                fontStyle: 'bold',
                fontSize: 25,
                fontFamily: 'Ariel',
                fill: 'black',
                stroke: 'white',
                strokeWidth: 0.5,
                opacity: 0.8,
                draggable: false,
                scaleX: focused ? scale * 1.2 : scale,
                scaleY: focused ? scale * 1.2 : scale,
            }"
        ></v-text>
        <v-line 
            v-if="piece"
            @mousemove="handleMouseMove"
            @mouseout="handleMouseOut"
            :config="{
                x: x,
                y: y,
                points:[48, 27, -48, -27],
                id: refId + '-line-135',
                stroke: piece.color135,
                strokeWidth: 10,
                opacity: 0.8,
                lineCap: 'round',
                scaleX: focused ? scale * 1.2 : scale,
                scaleY: focused ? scale * 1.2 : scale,
            }"
        ></v-line>
        <v-text
            @mousemove="handleMouseMove"
            @mouseout="handleMouseOut"
            :config="{
                x: x + 30,
                y: y + 5,
                align: 'center',
                id: refId + '-text-135',
                text: piece.value135,
                fontStyle: 'bold',
                fontSize: 25,
                fontFamily: 'Ariel',
                fill: 'black',
                stroke: 'white',
                strokeWidth: 0.5,
                opacity: 0.8,
                draggable: false,
                scaleX: focused ? scale * 1.2 : scale,
                scaleY: focused ? scale * 1.2 : scale,
            }"
        ></v-text>
    </div>
</template>

<script>
export default {
  props: ['refId', 'x', 'y', 'piece', 'scale', 'focused'],
  methods: {
    handleMouseMove(e) {
      this.$emit("mousemove", {...e, refId: this.refId})
    },
    handleMouseOut(e) {
      this.$emit("mouseout", {...e, refId: this.refId})
    }
  },
  mounted() {
  }
};
</script>

<style staged>

</style>
